@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Let's Play Game!!</h1>
    <a class="text-sggreen p-2" asp-controller="ChartGame" asp-action="Index">Advanced: Chart Game</a>
    <a class="text-sggreen p-2" asp-controller="EasyStock" asp-action="Index">Beginner: Easy Stock</a>
</div>
