<nav class="navbar is-white shadow bg-sgblue">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text text-sggreen brand"
               href="../">
                Stock Game
            </a>
            <div class="navbar-burger burger"
                 data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenu"
             class="navbar-menu">
            <div class="navbar-start"></div>
        </div>
    </div>
</nav>
<style>
    .brand:hover {
        color: #7edb7e;
    }
</style>
