/*-------------------------------

    Global

--------------------------------- */

@import "~bootstrap/scss/bootstrap.scss";

// global color
.bg-sgblue {
	background: #10478f;
}
.text-sgblue {
	color: #10478f;
}

.bg-sggreen {
	background: #67cd67;
}
.text-sggreen {
	color: #67cd67;
}

html,
body {
	font-family: "Roboto", sans-serif;
	line-height: 1.4;
}

.container {
	width: 90% !important;
	max-width: 90% !important;
}

.shadow {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

label.label {
	font-size: 0.8em;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

ul li {
	list-style: none;
}

button {
	border: none;
	outline: none;
}

/*-------------------------------

    Animations and transitions

--------------------------------- */

.component-fade-enter-active,
.component-fade-leave-active {
	transition: opacity 0.3s ease;
}

.component-fade-enter,
.component-fade-leave-to {
	opacity: 0;
}
